#logo {
    position: relative;
    top: 10px;
    left: 20px;
    width: 20;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: -15px;
    margin-left: -20px;
    display: inline-block;
    --float: left;
}

.table img {
    top: 10px;
    left: 20px;
    width: 20;
    height: 50px;
}

#picsart {
    height: 500px;
}

#profile{
    align-items: center;
    display: flex;
}

#flexab
{
    justify-content: flex-start;
    align-items: center

}

#totals {
    text-align-last: right;
    background-color: #f5f5f5; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    margin-bottom: 15px; 
  }
  
  
  #money {
    width: 20%; 
    border-collapse: collapse; 
    margin-top: 10px; 
  }
  

 #money td.total, table.money td.iva {
    padding: 8px; 
    text-align: right; 
    font-weight: bold; 
  }

  body{
    background-color: #09152B;
  }

  #articard{
    background-color: #082751;
    border-color: #ECF9FF;
    outline-color:#ECF9FF ;
    color: #76D5FE;
   border: 1px solid #ECF9FF
  }