#logo {
    position: relative;
    top: 10px;
    left: 20px;
    width: 20;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: -15px;
    margin-left: -20px;
    display: inline-block;
    --float: left;
}

.table img {
    top: 10px;
    left: 20px;
    width: 20;
    height: 50px;
}



#profile {
    align-items: center;
    display: flex;
}

#flexab {
    justify-content: flex-start;
    align-items: center;
    background-color: #09152B;
}

#contents{
    margin-left: 5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}
.tablero img {

    height: 50px;
}

.tablero {
    width: 70%;
    border-color: #ECF9FF;
}

#totals {
    width: 20%;
}


#money {
    text-align: right;
    -moz-text-align-last: right;
    text-align-last: right;
    background-color: #063977;
    margin-top: 10px;
}


#money td.total,
table.money td.iva {
    padding: 8px;
    text-align: right;
    font-weight: bold;
}

body,
#body,#offcanvasExample {
    background-color: #09152B;
    color: white;
}



#articard {
    background-color: #082751;
    border-color: #ECF9FF;
    outline-color: #ECF9FF;
    color: #76D5FE;
    border: 1px solid #ECF9FF
}

#anouncios-pic {
    height: 500px;
    align-items: center;
}

.sidebar {
    width: 250px;
    height: 100vh;
    top: 0;
    left: -250px;
    background-color: #035CC2;
    transition: left 0.3s ease;
}

#mainContent {
    transition: margin-left 0.3s;
}

#demo {
    background-color: rgba(236, 249, 255, 0.5);
}

.mt-3 {

    margin-bottom: 1rem;
}

#mains {
    background-color: #035CC2;
}

a {
    color: #0286DF;
}

p,
#text,
h1 {
    color: #ECF9FF;
}

#logoside {
    background-color: #063977;
}

#secondhead {
    background-color: #063977;
}


thead {
    background-color: #063977;
    color: #B1E7FF;
}

tbody tr {
    border-bottom: 1px solid #063977;
}


td {
    padding: 10px;
}

/* Styling the links within table cells */
td a {
    color: #B1E7FF;
    text-decoration: none;
    margin-right: 5px;
}


td a:hover {
    color: #fff;
}

/* Add animation effects to the carousel items */
.carousel-item {
    transition: transform 0.6s ease;
}

/* Define the animation direction for the carousel items */
.carousel-item.left {
    transform: translateX(-100%);
}

.carousel-item.right {
    transform: translateX(100%);
}

#artishow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
}

#artishow table{
    width: 20%;
    padding-right: 5rem;
}
#artishow #img{
   width: 60%;
}

#picsart {
    height: 500px;
    object-fit: contain;
    width: 100%;
}

#btn-yes{
    
    background-color: #76D5FE;
}

svg {/* ICONS with SVG entity are all white */
    fill: #ffffff
}

/*input[type="text"] ,input[type="number"],textarea,select, #special{
    background-color: #B1E7FF;

}*/
#artedit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

